<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                    <div class="column has-text-centered">
                        <div>
                            <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="content is-small has-text-centered">
          <footer class="site-footer">
            <span class="site-footer-owner">
            &copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{site.bot_name }} & The Antiscam Group</a> is a project maintained by <a href="https://socksthewolf.com">SocksTheWolf</a>
            </span>
          </footer>
        </div>
    </div>
</footer>