<p>It is really easy to setup {{ site.bot_name }}. Just follow these simple steps!</p>

<ol class="install-steps">
    <li>Invite the {{ site.bot_name }} bot using one of the methods below:
        <ul>
            <li>Install via this Discord app link: <br />
                <a class="button is-normal is-rounded is-primary" href="https://discord.com/oauth2/authorize?client_id={{ site.discord_client_id }}" target="_blank">
                    <span>Install {{ site.bot_name }}</span>
                    <span class="icon is-small">
                        <i class="fa-brands fa-discord"></i>
                    </span>
                </a>
            </li>
            <b>OR</b>
            <li><a href="/discord">Join the TAG server</a> and install the bot.<br />Select the {{ site.bot_name }} account in the Discord and click on <code>Add To Server</code>:<br />
                <img src="{{ '/assets/botaccount.png' | relative_url }}" />
            </li>
        </ul>
    </li>
	<li>Give the newly invited {{ site.bot_name }} bot a server moderator role</li>
    <li><strong>IMPORTANT</strong>: Activate {{ site.bot_name }} by running <code class="language-plaintext highlighter-rouge">/scamguard setup</code> in your server!</li>
	<li>You are ready to start using {{ site.bot_name }}! Learn <a href="/usage">how to use {{ site.bot_name}}</a> here!</li>
</ol>
