<p>Before {{ site.bot_name }} can work in your server, you'll need to follow a few steps to get it ready. Luckily the steps are fairly simple!</p>

<ol class="install-steps">
    <li>Invite the {{ site.bot_name }} bot using one of the methods below:
        <ul>
            <li>Install via this Discord app link: <br />
                <a class="button is-normal is-rounded is-primary" href="https://discord.com/oauth2/authorize?client_id={{ site.discord_client_id }}" target="_blank">
                    <span>Install {{ site.bot_name }}</span>
                    <span class="icon is-small">
                        <i class="fa-brands fa-discord"></i>
                    </span>
                </a>
            </li>
            <b>OR</b>
            <li><a class="has-text-primary" href="/discord">Join the TAG server</a> and install the bot by selecting the account below and clicking on <code>+ Add App</code>:<br />
                <img width="583px" height="408px" fetchpriority="high" alt="Adding the bot via the TAG Discord server" src="{{ '/assets/botaccount.png' | relative_url }}" />
            </li>
        </ul>
    </li>
	<li>Give the newly invited {{ site.bot_name }} bot a server moderator role <small>(see <a href="/advanced-install" rel="nofollow noindex">here to do so without a moderator role</a>)</small>.</li>
    <li><strong>IMPORTANT</strong>: Activate {{ site.bot_name }} by running <code>/scamguard setup</code> in your server!</li>
	<li>You are ready to start using {{ site.bot_name }} in your server!</li>
</ol>
{% if include.show_using %}
<p class="has-text-centered"><a class="button is-rounded is-outlined is-primary" href="/usage">All done? Learn how to use {{ site.bot_name}} here!</a></p>
{% endif %}
