---
---

:root {
  --bulma-help-size: 0.85em;
}

.footer {
  --bulma-footer-padding: 3rem 1.5rem 2rem;
}

.navbar-item.is-active {
  background-color: rgba(0,0,0, 0.09);
}

.navbar-burger {
  color: black;
}

.centered {display:block;text-align:center;margin-left:auto;margin-right:auto}

article > details {
  &:not(:open) {
    border-bottom: 5px gray solid;
  }
  
  summary {
    :focus {
      outline-style: none;
    }
    font-size: 1.3em;
    cursor: pointer;
  }
}

details.no-arrow summary
{
  &::marker, &::-webkit-details-marker {
		display: none;
		content: "";
  }
}

.report {
  margin-top: 10px; 
}

.navbar {
  user-select: none;
  -webkit-user-select: none;
}

[x-cloak] { display: none !important; }
