---
---

:root {
  --primary: #333333;
  //--bulma-body-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bulma-body-font-size: 1.03em;
}


@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.navbar-item.is-active {
  background-color: rgba(0,0,0, 0.09);
}

.navbar-burger {
  color: black;
}

.centered {display:block;text-align:center;margin-left:auto;margin-right:auto}

article > details {
  &:not(:open) {
    border-bottom: 5px gray solid;
  }
  
  summary {
    :focus {
      outline-style: none;
    }
    font-size: 1.3em;
    cursor: pointer;
  }
}

[x-cloak] { display: none !important; }
